#Ignore All Vendors except for Request file for Routing

!/vendor/laravel/framework/src/Illuminate/Http/Request.php
/vendor/*
.env
!/config/database.php
/config/*
/bootstrap
/public/Storage
# /public/front-end
# Homestead.yaml
# Homestead.json
# /public/Documents/NewApiDoc(6-10).xlsx
# /public/Documents/sample.txt
# /public/Documents/Daily_Report.txt
