<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle authenticationToken Header
    RewriteCond %{HTTP:authenticationToken} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:authenticationToken}]
</IfModule>
<IfModule mod_php5.c>
php_value memory_limit 256M
php_value post_max_size 256M
php_value upload_max_filesize 256M
</IfModule>
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ index.php [QSA,L]
Header set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Credentials "true"
Header always set Access-Control-Allow-Headers "Origin,Content-Type,X-Requested-With,type,authenticationToken,operation,jfId,fromDate,toDate,ledgerGroup,ledgerName,productName,productCategoryId,productGroupId,salesType,productId,color,size,productCode,companyId,branchId,nextSaleId,previousSaleId,journalType,invoiceNumber,clientName,contactNo,quotationNumber,invoiceFromdate,invoiceToDate,jobCardFromDate,jobCardToDate,jobCardNumber,emailId,address,previousQuotationId,nextQuotationId,previousPurchaseId,nextPurchaseId,purchaseBillId,billNumber,professionId,saleId,quotationBillId,isSalesOrderUpdate,isSalesOrder,isPurchaseOrder"
Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT,PATCH"